/* header start */
header{
    background:linear-gradient(rgba(0, 0, 255, 0.5),rgba(0, 0, 255, 0.5)) ,
    url("../images/header-bg.jpg")
    no-repeat center;
    background-size: cover;
    height: 900px;
    background-attachment: fixed;
}
.logo{
    float: left;
    margin-top: 90px;
}
nav.header-menu{
    float: right;
    margin-top: 90px;
}
nav.header-menu ul li{
    display: inline-block;
    margin-left: 50px;
}
nav.header-menu ul li a{
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    border-bottom: 1px solid transparent;
    transition: 200ms all ease;
    
}
nav.header-menu ul li a:hover{
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;

}
.header-text{
    margin-top: 360px;
}
.header-text h1{
    font-size: 72px;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.header-text span{
    font-weight: 100;
}
.header-text p{
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 100;
    letter-spacing: 1px;
}
/* header end */


/* author start */
.author-content{
    margin-top: -120px;
    margin-bottom: 120px;
}
.author-image{
    width: 222px;
    height: 222px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.2);
}
.author-image img{
    width: 100%;
    height: auto;
}
.author-text p{
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    line-height: 30px;
}
.author-text span{
    display: block;
    color: #000;
    font-weight: 600;
}
.author-social-media{
    text-align: center;
    margin-top: 40px;
}
.author-social-media ul li {
    display: inline-block;
    margin-right: 30px;
}
.author-social-media ul li:last-child{
    margin-right: 0;
}
.author-social-media ul li a{
    font-size: 24px;
    color: #000;
    transition: .3s all ease;
}
.author-social-media ul li a:hover{
    color: #0000ff;
}
/* author end */

/* blog start */
#blog{
    background-color: #f9f9f9;
    padding: 100px 0;
}
.blog-list-content{
    background-color: #fff;
    margin-bottom: 30px;
    transition: .3s all ease;
}
.blog-list-content:hover{
    box-shadow:  0 0 30px rgba(0, 0, 0, 0.1);
}
.blog-list-info{
    padding: 30px 0 0 30px;
}
.blog-list-info ul li{
    display: inline-block;
    margin-right: 10px;
    line-height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    color: #434343;
}
.blog-list-info ul li:first-child{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.blog-list-info ul li:first-child img{
    width: 100%;
    height: auto;
}
.blog-list-info ul li a{
    color: #434343;
}
.blog-list-info ul li a:hover{
    color: #000;
    font-weight: 400;
}
.blog-list-text{
    padding: 0 30px;
}
.blog-list-text h2{
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-list-text p{
    color: #434343;
    font-size: 16px;
    line-height: 30px;
}
.blog-list-bottom{
    padding: 0 0 30px 30px;
}
.blog-list-bottom > a{
    float: left;
    margin-right: 30px;
}
.blog-list-bottom ul{
    padding-top: 10px;
}
.blog-list-bottom ul li{
    display: inline;
    margin-right: 20px;
}
.blog-list-bottom ul li a{
    display: inline-block;
    font-size: 18px;
    color: #7d7d7d;
}
.btn-primary{
    background-color: transparent;
    border: 1px solid #0000ff;
    color: #0000ff;
    padding: 10px 15px;
}
/* blog end */


/* pagination  start*/
.pagination ul li{
    display: inline-block;
    margin-right: 20px;
}
.pagination ul li a{
    color: #000;
    display: block;
    width: 36px;
    height: 36px;
    transition: .3s all ease;
    border-radius: 4px;
    text-align: center;
    line-height: 36px;
}
.pagination ul li a:hover{
    background-color: #0000ff;
    color: #fff;
}
/* pagination  end*/


/* sidebar start */
.search{
    position: relative;
}
.search-input{
    width: 100%;
    height: 50px;
    border: 1px solid #0000ff;
    padding: 0 70px 0 20px;
    color: #000;
}

.search-submit{
    background-color: #0000ff;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 50px;
}
/* sidebar end */


/* recent post start */
.recent-post{
    background-color: #fff;
    border: 1px solid #eee;
    margin: 30px 0;
}
.sidebar-title{
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.sidebar-content{
    padding: 0 30px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 30px;
}
.sidebar-content img{
    margin-bottom: 10px;
}
/* recent post end */


/* tags start */
.tags{
    background-color: #fff;
    border: 1px solid #eee;
    margin: 30px 0;
}
.tags-item li{
    display: inline-block;
}
.tags-item li a{
    display: block ;
    padding: 10px 12px;
    border: 1px solid #eee;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .2s all;
    color: #666;
}
.tags-item li a:hover{
    background-color: #0000ff;
    color: #fff;
}
/* tags end */