*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
}
ul, li, ol{
    list-style: none;
}
a:link,
a:visited,
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
}
input:focus{
    outline: none;
}
button{
    border: none;
}